body.one{
    background-color:goldenrod;
    color:black;
    background-image: url(download\ \(1\).jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}